body {
    background: transparent linear-gradient(104deg, #2A2D44 0%, #242636 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #C4C4C4;
}
#select_country, #select_station { display: none; }

a.brand-logo {
    font-size: 20px;
    color: #C4C4C4;
    text-shadow: 0px 3px 6px #000000;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.flashes h4 { line-height: 2; }

.collapsible, .collapsible-header, .collapsible-body { border: none; }

button i.material-icons {
    font-size: 20px;
    color: #51535F;
}

div.input-field.col.s12.m6 { margin: 0; }

select#country_name.browser-default.validate {
    border: none;
    padding: 0;
    margin: 0;
    width: 50%;
    color: #6A726B;
    text-shadow: 3px 3px 9px #24E61C33;
    opacity: 1;
}

select#station_id.browser-default.validate {
    border: none;
    padding: 0;
    margin: 0;
    color: #C5E3C8;
    text-shadow: 3px 3px 9px #24E61C33;
    opacity: 1;
}

.panelDataRS {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.panelDataRS p {
    margin: 0;
}

.panelUpRS,
.panelDownRS {
    padding: 2px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: #6A726B;
    text-shadow: 3px 3px 9px #24E61C33;
    opacity: 1;
}

/*#radioSelectors {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/

#radioControls {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /*color: #E17369;*/
}

/* Panel elements css definitions */

.faviconRS {
    display: flex;
    justify-content: center;
}

.infoNameRS {
    padding: 5px;
    font-size: 24px;
}

/* Generic css objects definitions */

.card {
    margin: 10px;
    padding: 10px;
    background: transparent linear-gradient(93deg, #1D1E2C 0%, #1C1D28 100%) 0% 0% no-repeat padding-box;
    box-shadow: -5px -5px 10px #353644;
    border: 1px solid #00000000;
    border-radius: 20px;
    opacity: 1;
}

button {
    cursor: pointer;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #1C1D2B 0% 0% no-repeat padding-box;
    box-shadow: -2px -2px 5px #353644;
    border: 1px solid #00000000;
    opacity: 1;
}

.favorite-header {
    background: transparent linear-gradient(91deg, #1D1E2C 0%, #1C1D28 100%) 0% 0% no-repeat padding-box;
    box-shadow: -5px -5px 10px #353644;
    border: 1px solid #00000000;
    border-radius: 13px;
    opacity: 1;
}
